@model Contact.Models.Contact

@{
    ViewBag.Title = "Delete Contact";
}

@section Scripts {
    <script type="text/javascript">
        // passing a function to $ is a shortcut for document.ready
        $(function () {
            $('#Cancel').click(function () {
                window.location.href = '@Url.Action("Index")';
            });
        });
    </script>
}

<h2>@ViewBag.Title</h2>

<p>Are you sure you want to delete the contact information for @Model.FullName?</p>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" />
        <input type="button" value="Cancel" id="Cancel" />
    </p>
}
